@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #525252;
    overflow-x: hidden;
}

#header {
    font-size: 4.5rem;
    font-family: 'Bebas Neue';
    color: white;
    margin: 0;
}

#infoDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45rem;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
    width: 60%;
    height: 4%;
    background-color: #7d7d7d;
    margin: 0;
    border-radius: 1rem;
}

#boardsContainer {
    width: 80%;
    height: 55%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0%;
}

.boardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

.boardHeader {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 2rem;
}

.board {
    width: 27rem;
    height: 27rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
}

.square {
    border: 1px solid white;
    cursor: pointer;
}

.square:hover {
    border: 1px solid white;
    background-color: #58c947;
    cursor: pointer;
}

.userSquare {
    border: 1px solid white;
}

.markedSquare {
    border: 1px solid white;
    background-color: red;
}

#hitSpace {
    border: 1px solid white;
    background-color: black;
}

#missedSpace {
    border: 1px solid white;
    background-color: blue;
}

#footer {
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d7d7d;
    width: 100%;
    height: 5%;
    font-size: 1.15rem;
}

#startUpBoardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 55%;
    margin: 0;
    gap: 1rem;
}

.startUpBoardHeader {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 2rem;
}

#startUpBoard {
    width: 27rem;
    height: 27rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
}
.startUpBoardSquare {
    border: 1px solid white;
    cursor: pointer;
}
#shipSelectWrapper {
    width: 55%;
    height: 15%;
}

#shipsDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}

#shipsDisplayHorizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#carrier {
    width: 2.75rem;
    height: 13.65rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#carrierHorizontal {
    height: 2.75rem;
    width: 13.65rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#battleship {
    width: 2.75rem;
    height: 10.92rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#battleshipHorizontal {
    height: 2.75rem;
    width: 13.65rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#submarine {
    width: 2.75rem;
    height: 8.19rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#submarineHorizontal {
    height: 2.75rem;
    width: 13.65rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#cruiser {
    width: 2.75rem;
    height: 8.19rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#cruiserHorizontal {
    height: 2.75rem;
    width: 13.65rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#destroyer {
    width: 2.75rem;
    height: 5.46rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

#destroyerHorizontal {
    height: 2.75rem;
    width: 13.65rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor:pointer;
}

.startUpSquare {
    background-color: red;
    border: 2px solid white;
}

#rotate {
    width: 15rem;
    height: 3rem;
    cursor: pointer;
    background-color: #7d7d7d;
    color: white;
    font-size: 1.5rem;
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
}

@media only screen and (max-width: 925px) {
    #boardsContainer {
        padding-top: 2rem;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0%;
    }
}